{{ extends 'global/Page.html' }}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{{ static 'global/results.css' }}">
{% endblock %}


{{ block content }}

<style>
.center {
    text-align: center;
}
</style>

<div class="welcome-container">
    <div class="welcome-content">
        <h4 class="welcome-title">Bienvenido al Laboratorio de Economía Experimental de la Universidad del Rosario</h4>
        <p class="welcome-text"> 
            Estimado(a) participante, gracias por participar en este estudio. Antes de comenzar, por favor tome un momento para leer las siguientes instrucciones.
            En esta ocasión usted participará en una actividad sobre toma de decisiones en diferentes contextos.
        </p>
        <p class="welcome-text">
            Las decisiones que tomará serán individuales y privadas, pero tendrán consecuencias en el pago final que recibirá. 
            En algunas etapas, usted será emparejado(a) con otro participante para que tomen decisiones de manera simultánea. 
            Las decisiones y los pagos asociados a estas se explicarán con más detalle en las instrucciones de cada etapa.
            Le pedimos que por favor no hable ni trate de mirar las respuestas de los demás participantes. 
            Si hay algo que usted no entiende, por favor levante la mano y uno de los monitores se acercará y tratará de ayudarlo de manera individual.
            Sus respuestas serán confidenciales y se utilizarán únicamente para fines de investigación.
        </p>
        <p class="welcome-text">
            Antes de comenzar,  por favor lea detenidamente el consentimiento informado de la siguiente página y decida si acepta continuar o retirarse de la sala. 
            Para continuar, haga clic en el botón de abajo.
        </p>
        <form method="post">
            <button class="start-button">Comenzar</button>
        </form>
    </div>
</div>

{{ endblock }}
